{% extends 'core/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block main %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'core/styles/main-styles.css' %}">

    <title>XGenius - Registration</title>
</head>
{% endblock %}
    {% block content %}
    <div id="reg">
        <div class="registration">
            <div class="reg-title">
                Create new account
            </div>
            <div class="reg-input">
                <input type="text" name="Name" id="" placeholder="Name">
            </div>
            <div class="reg-input">
                <input type="text" name="Name" id="" placeholder="Email">
            </div>
            <div class="reg-input">
                <input type="password" name="" id="" placeholder="Password*" title="Write your desired password">
            </div>
            <div class="reg-input">
                <input type="password" name="" id="" placeholder="Confirm password*" title="Re-enter your password">
            </div>
            <div class="form-radio reg-flex">
                <div class="enter">
                    <label class="custom-radio">
                        <input type="radio" name="radio-button" />
                        <span class="radio-mark"></span>
                    </label>
                </div>
                <div class="form-radio_text">
                    <span>I have read the <a href="">privacy policy</a> and agree to the
                        processing of my personal data</span>
                </div>
                <a href="" class="btn btn-background btn-reg">Sign Up</a>
            </div>
            <div class="reg-redirect">
                Already have an account? <a href="{% url 'login' %}">Log in</a>
            </div>
        </div>
    </div>
    {% endblock %}
</html>