.footer {
  background: #222;
  max-width: 1920px;
  width: 100%;
}

.footer-feedback-title {
  color: #F6F6F6;
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto Slab;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.form-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #DDA74F;
  background: rgba(221, 167, 79, 0);
  padding: 12px 42px;
  color: #DDA74F;
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-send img {
  margin-left: 15px;
}

.form-radio {
  max-width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-radio_text {
  min-width: 210px;
  margin-bottom: 40px;
}

.form-radio_text span {
  color: #F6F6F6;
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-radio_text span a {
  text-decoration: none;
  color: #F6F6F6;
  border-bottom: 2px solid #DDA74F;
}

.enter input {
  max-width: 300px;
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid #DDA74F;
  color: rgba(246, 246, 246, 0.5);
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  margin-bottom: 24px;
}

.footer-box {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 100px;
}

.footer-item a {
  color: rgba(246, 246, 246, 0.5);
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto Slab;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  margin-right: 24px;
}

.footer-logo {
  margin-bottom: 40px;
}

.footer-rights {
  padding: 100px 0px;
  color: rgba(246, 246, 246, 0.5);
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
}

.footer-social-title {
  color: #F6F6F6;
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  margin-bottom: 24px;
}

.footer-social__items a {
  margin-right: 24px;
}

.custom-radio {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  margin-right: 10px;
}

.custom-radio input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #DDA74F;
}

.custom-radio input[type=radio]:checked + .radio-mark {
  background-color: white;
}